footer {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

footer > div {
    flex: 1;
    margin: 10px;
    row-gap: 20px;
}
.register-btn2{
    display: none;
}

.subscribe {
    flex: 2;
}

.get-it {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.catagory, .become-seller, .about {
    display: flex;
    flex-direction: column;
}

.powered-by {
    flex: 0 0 100%;
    text-align: center;
    margin-top: 20px;
}

footer h1, footer h2 {
    font-size: 28px;
    font-weight: bold;
    color: white;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

footer h1::after, footer h2::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    height: 2px;
    background-color: white;
    transform: scaleX(1.01);
    transform-origin: center;
}

.subscribe p, .powered-by p {
    margin: 5px 0;
}

.subscribe form {
    display: flex;
    align-items: center;
}

.subscribe input[type='text'] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.subscribe .register-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f39c12;
    color: black;
    cursor: pointer;
}

.subscribe .register-btn:hover {
    background-color: #955822;
}

.get-it a {
    margin-bottom: 10px;
}

.get-it img {
    height: 70px;
}

.catagory a, .become-seller a, .about a {
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
}

.catagory a:hover, .become-seller a:hover, .about a:hover {
    text-decoration: underline;
    color: #e67e22;
}

a {
    color: white;
}

a:hover {
    text-decoration: underline;
}
footer h2{
    font-size: 24px;
}
@media screen and (max-width: 768px) {
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        text-align: center;
    }

    .left-side, .right-side {
        grid-column: span 1;
    }

    .left-side > div, .right-side > div {
        flex-direction: column;
    }

    .get-it {
        align-items: center;
        justify-content: center;
    }

    .subscribe form {
        flex-direction: column;
    }

    .subscribe input[type='text'] {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
    }

    .subscribe .register-btn {
        width: 100%;
    }

    .powered-by {
        grid-column: span 2;
        margin-top: 30px;
    }
    .subscribe form{
        flex-direction: column;
        align-items: center;
    }
    .register-btn{
        display: none;
    }
    .register-btn2{
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #f39c12;
        color: black;
        cursor: pointer;
        display: inline;
    }
    .register-btn2:hover{
        background-color: #955822;
    }
}